/* NavBar */
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #95b71d;
    border-bottom: 3px solid #95b71d; /* 1890ff */
    font-weight: bold;

}

 .ant-menu-horizontal > .ant-menu-item:hover {
   color: #95b71d;
   border-bottom: 3px solid #95b71d; /* 1890ff    #eee430*/
   font-weight: bold;
 }
